.dropdown-container {
    display: flex;
    align-items: center;
    background-color: #ff7300;
    padding: 30px;
    position: relative;
    top: 140px;
   
    
  }
  
  .dropdown-select   {
    width: 90%;
    border: none;
   
    margin: auto;
  }
  .dropdown-select  select {
    width: 70%;
    height: 35px;
    padding-left: 20px;
    outline: none;
    border-radius: 10px;
    border: none;


  }
 
  .dropdown-button {
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .dropdown-button:hover {
    background: #ddd;
  }
  