.dropdown-container {
    display: flex;
    align-items: center;
    background-color: #ff7300;
    padding: 30px;
   
    
  }
  .dropdown-container select {
    width: 40%;
    height: 40px;
    
    outline: none;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
  }
 
  .dropdown-button {
    margin-left: 10px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;
  }
  
  .dropdown-button:hover {
    background: #ddd;
  }
  